body {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: 300;
    margin: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

button {
    color: black;
}