body {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: 300;
    margin: 40px;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.3em;
}

code {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.85em;
}

pre.shiki {
    background-color: rgb(229 229 229 / 15%) !important;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3, h4, h5, h6 {
    font-size: 1.2em;
}

a {
    color: #128d8e;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

button {
    color: black;
}

.container ul {
    padding: 0;
    margin: 0;
}

.container ul li {
    list-style-type: none;
}

ol li {
    margin: 0;
    padding: 0;
}

ol li p, ul li p {
    margin: 0.25em;
}

pre {
    white-space: pre-wrap;
}

img {
    max-width: 100%;
}